.btn {
  border: 1px solid white;
  width: 500px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 15px;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
  .btn {
    width: 100%;
  }
}

.btn-label {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: auto;
}
