ul.auto-search {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 70%;
  max-height: 200px;
  overflow-y: auto;
  color: red;
  margin: 0 auto;
  border: 1.3px solid rgba(59, 59, 59, 0.4);
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.player-box {
  width: 100%;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(59, 59, 59, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  background-color: white;
  box-shadow: 0px 3px 12px black;
  border-color: transparent;
}
.player-box:hover {
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

.emblem {
  width: 25px;
  height: 25px;
}

.player-name {
  margin: auto 0;
}
